<div class="input-section" id="changes-{{ form_id }}">

    <div class="pillar">
        {{ pillar.render() }}
    </div>
    <div class="changes">
        <p>
        <div id="camera-{{ form_id }}">
            <b class="toggler">Camera</b>
            <div class="hideable">
                {{ camera.render() }}
            </div>
        </div>
        </p>

        <p>
        <div id="mount-{{ form_id }}">
            <b class="toggler">Mount</b>
            <div class="hideable">
                {{ mount.render() }}
            </div>
        </div>
        </p>

        <p>
        <div id="telescope-{{ form_id }}">
            <b class="toggler">Telescope</b>
            <div class="hideable">
                {{ telescope.render() }}
            </div>
        </div>
        </p>


        <p>
        <div id="focuser-{{ form_id }}">
            <b class="toggler">Focuser</b>
            <div class="hideable">
                {{ focuser.render() }}
            </div>
        </div>
        </p>
    </div>
    <hr />
</div>
