{% extends "base.html" %}

{% block content %}

<p><button id='add-form'>Add hardware change</button></p>

<form action="/submit_changes/" id="submit-changes" method="post">
    <input type="hidden" name="submit-time" id="submit-time" />
    <div id="forms"></div>

    <label for="username">Name</label>
    <input type="text" name="username" /><br />

    <label for="change-date">Date</label>
    <input type="date" id='change-date' name="change-date" /><br />


    <label for="comments">Comments</label><br />
    <textarea name="comments" id="comments" rows="10" cols="50" placeholder="Enter any comments here"></textarea><br />
    <button id="submit-form" disabled>Submit</button>
</form>

{% endblock %}
