.hideable {
    display: none;
}

.changes {
    padding: 5px 20px;
}

.toggler {
    cursor: pointer;
}

body {
    background-color: #4B7399;
}

div#outer-page {
    width: 70%;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 40px;
    border 1px solid black;
}

div.input-section {
    padding: 5px 30px;
}

div#changes-inner {
    background-color: white;
    padding: 10px;
}
